#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.teste input {
  width: 150px;
  margin: 10px;
}

.teste {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.teste button {
  width: 50px;
}